@use 'src/shared/ui/variables' as variables;
@use 'src/shared/ui/border-radius' as border-radius;
@use 'src/shared/ui/colors' as colors;
@use 'src/shared/ui/utils' as utils;

$height: 33px;

@mixin style(){
  display: inline-flex;
  align-items: stretch;
  height: var(--ui-input-height, $height);
  background: var(--ui-input-background, colors.$surface-element-0);
  border: var(--ui-input-border, variables.$border);
  color: var(--ui-input-text-color, colors.$label-1);
  border-radius: var(--ui-input-border-radius, border-radius.$border-radius-md);
  font-size: var(--ui-input-font-size);

  @include utils.transitions(background-color, border-color, box-shadow);

  &__suffix,
  &__prefix {
    display: grid;
    place-items: center;
    height: 100%;
    aspect-ratio: var(--ui-input-affix-aspect-ratio);
  }

  &--readonly {
    background: var(--ui-input-readonly-background, colors.$surface-element-2);
  }

  &--disabled {
    pointer-events: none;
    opacity: variables.$disabled-opacity;
  }
}

@mixin variant($root, $border-color: default, $border-color-focus: default, $box-shadow-focus: default) {
  border-color: $border-color;

  &#{$root}--focused {
    border-color: $border-color-focus;
    box-shadow: $box-shadow-focus;
  }
}