@mixin variant($root, $color, $background, $hover-background, $hover-color, $active-border-color) {
  color: $color;
  background: $background;
  border-color: $background;

  &:hover {
    background: $hover-background;
    color: $hover-color;
  }

  &#{$root}--active{
    border-color: $active-border-color
  }
}